.Margen{
  margin:100px;
}

.Table{
  font-family: Arial;
  width: 100%;
  text-align: left;
}

.Table thead{
  background: #3e3e3e;
  color:white;
}

.Table tbody{
  background: #dadada;
}

.Table td, .Table th{
  padding: 10px 4px;
}

#menu{
  background: #3e3e3e;
  padding: 20px;
  font-size: 24px;
}

#menu a{
  color: white;
  padding: 50px;
}